<div id="pg-pin" class="page active">
  <div class="pin-wrap">
    <img id="pinlogo" class="pinlogo" src="img/ntc-logo2-light.png" alt="⬡">
    <div class="pin-logo">NTC Document <em>Tracker</em></div>
    <div class="pin-tagline">Enter PIN to access</div>
    <div class="pin-dots" id="pinDots">
      <div class="pin-dot"></div><div class="pin-dot"></div>
      <div class="pin-dot"></div><div class="pin-dot"></div>
    </div>
    <div class="pin-pad">
      <button class="pin-key" data-v="1">1</button><button class="pin-key" data-v="2">2</button><button class="pin-key" data-v="3">3</button>
      <button class="pin-key" data-v="4">4</button><button class="pin-key" data-v="5">5</button><button class="pin-key" data-v="6">6</button>
      <button class="pin-key" data-v="7">7</button><button class="pin-key" data-v="8">8</button><button class="pin-key" data-v="9">9</button>
      <button class="pin-key blank"></button><button class="pin-key" data-v="0">0</button><button class="pin-key del" data-v="del">⌫</button>
    </div>
    <div class="pin-err" id="pinErr"></div>
  </div>
</div>
