<div id="pg-tracker" class="page">
  <!-- @include('partials/header.html', { logoId: 'logo2', logoSrc: 'ntc-logo2-light.png' }) -->
  <div class="tracker-body">
    <div class="main-panel">
      <div class="empty-view" id="emptyView">
        <div class="empty-ic">
          <img id="logo" class="logo" src="img/ntc-logo-light.png" alt="⬡">
        </div>
        <p>Select a document to view details</p>
        <span>or create a new one to get started</span>
      </div>
      <div class="doc-detail" id="docDetail"></div>
    </div>
  </div>
</div>
